/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2dvw;
}

/* Set default font and color */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #eee;
}

.slide {
  margin: 1dvw;
  background-color: #fff;
  box-shadow: 0 0 4dvw -1dvw rgba(0, 0, 0, 0.5);
  border: 1px solid #cdd;
  border-radius: 2dvw;
  padding: 2dvw;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: 8rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  code.hljs {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    line-height: 1.5;
  }

  .demo {
    border-radius: 0.5rem;
    box-shadow: inset 0.1rem 0.1rem 0.5rem -0.2rem rgba(0, 0, 0, 0.3);
    border: 1px solid #eee;
    overflow: hidden;
    padding: 0.5rem;
  }

  .multi-column-container {
    display: flex;
    gap: 1rem;
    &>* {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &.cover {
    justify-content: center;
  }
}
